/* Resetting default margin and padding */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Header styles */
h1 {
    color: #333;
    text-align: center;
}

/* Form styles */
form {
    width: 350px; /* Adjusted width */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Input field styles */
input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit button styles */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link styles */
a {
    display: block;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8d7da; /* Red background color */
    color: #721c24; /* Dark red text color */
    margin-bottom: 10px;
    text-align: center; /* Center align the error message */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make the error message bold */
}
